name: Build & Publish Docker Image

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build . -t ${{ secrets.DOCKERHUB_USERNAME }}/rivrstrack:${GITHUB_SHA}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/rivrstrack:${GITHUB_SHA}
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/rivrstrack:${GITHUB_SHA} ${{ secrets.DOCKERHUB_USERNAME }}/rivrstrack:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/rivrstrack:latest